DATABASE_URL=postgresql+asyncpg://nexus_app:Admin@localhost:5432/nexus
SECRET_KEY=change_this_secret_key_in_production_generate_random_hex
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
PROJECT_NAME="InventMX API"
API_V1_STR="/api/v1"
ENVIRONMENT=development
